:root {
  --eonsteal: #06b39a;
  --eonsdarkteal: #004040;
  --eonsgrey: #cbd5db;
  --eonsyellow: #fabd2f;
  --fg2: #d5c4a1;
  --transparent1: rgba(0, 0, 0, 0.1);
  --transparent2: rgba(0, 0, 0, 0.2);
  --transparent5: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
}

#header {
  background-color: var(--eonsdarkteal);
}

.login #header h1 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.login .submit-row {
  padding: 1em 0 0 0;
}

.login .submit-row input {
  background-color: var(--eonsteal);
  width: 100%;
  text-transform: uppercase;
}

.module caption {
  background-color: var(--eonsdarkteal);
}

div.breadcrumbs {
  background: var(--eonsteal);
}