:root {
  --eonsteal: #06b39a;
  --eonsdarkteal: #004040;
  --eonsbrightteal: #00f0f0;
  --eonsgrey: #cbd5db;
  --eonsyellow: #fabd2f;
  --fg2: #d5c4a1;
  --transparent1: rgba(0, 0, 0, 0.1);
  --transparent2: rgba(0, 0, 0, 0.2);
  --transparent5: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
}

body {
  overflow: hidden;
}

/* Custom text colors */

.yellow {
  color: var(--eonsyellow);
}


/* Navbar styles */

#brandLogo {
  height: 30px;
}

.navbar {
  background-color: var(--transparent5) !important;
}

.nav-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  color: var(--eonsgrey);
}

.nav-link:hover {
  color: var(--eonsbrightteal);
}

.account-link {
  font-family: 'Roboto', sans-serif;
}

.account-link:hover {
  color: white !important;
  text-decoration: none !important;
}

.dropdown .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.dropdown .nav-link:hover {
  text-decoration: none !important;
  color: var(--eonsteal) !important;
}


/* Content block */

.content-block {
  padding-top: 5rem;
}


/* Form styles */

.form-control {
  border-radius: 0px;
  height: calc(1.5em + 1rem + 2px);
}


/* Footer styles */

footer {
  color: var(--fg2);
}

.footer-copyright {
  background-color: var(--transparent2)
}

/* Account Settings page styles */

#account-page-header {
  font-size: 24px;
  color: var(--eonsyellow);
}

/* Animation placeholder */

canvas {
  position: absolute;
  top: -5rem;
  width: 100vw;
  height: 110vh;
}

#comingSoon {
  margin-top: 30vh;
}

#comingSoon h2 {
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 0 0 5px #fff;
}
