:root {
  --eonsteal: #06b39a;
  --eonsgrey: #cbd5db;
  --fg2: #d5c4a1;
}

body {
  /* margin-top: 5rem; */
  overflow: hidden;
}


/* Navbar styles */

#brandLogo {
  height: 30px;
}

.nav-link {
  font-size: 1rem;
  color: var(--eonsgrey);
}

.nav-link:hover {
  color: var(--eonsteal);
}


/* Form styles */

.form-control {
  border-radius: 0px;
  height: calc(1.5em + 1rem + 2px)
}


/* Footer styles */

footer {
  color: var(--fg2);
}


/* Animation placeholder */

canvas {
  width: 100vw;
  height: 100vh;
}