#brandLogo {
  height: 30px;
}

header {
  z-index: 1;
}

.navbar {
  background-color: var(--transparent5) !important;
}

.nav-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  color: var(--eonsgrey);
}

.nav-link:hover {
  color: var(--eonsbrightteal);
}

.account-link {
  font-family: 'Roboto', sans-serif;
}

.account-link:hover {
  color: white !important;
  text-decoration: none !important;
}

.dropdown-menu {
  border-radius: 0px;
}

.dropdown .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.dropdown .nav-link:hover {
  text-decoration: none !important;
  color: var(--eonsteal) !important;
}

.dropdown #admin-link:hover {
  color: var(--eonsyellow) !important;
}