{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Logout{% endblock title %}

{% block content %}

  <canvas id="cnv"></canvas>

  <div class="row">
  <div class="col"></div>
    <div class="col col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h4>Are you sure you want to log out?</h4>
          <span>Signed in as: <strong>{{ user.email }}</strong></span>
          <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-5 row">
              <div class="col"></div>
              <div class="col-md-10">
                <button class="btn btn-lg btn-block btn-primary" type="submit">Log Out</button>
                <button class="btn btn-lg btn-block btn-secondary" onclick="goBack()">Cancel</button>
              </div>
              <div class="col"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script src="{% static 'js/dots.js' %}"></script>
{% endblock content %}