{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center">Password Reset</h4>
        <hr>
        <p>We have sent you an email with a link to reset your password.</p>
        <p>Please contact us if you do not receive it within a few minutes.</p>
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'account_login' %}">Log In</a>
      </div>
    </div>
  </div>

{% endblock content %}