{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock title %}

{% block content %}
  <div class="row">
  <div class="col"></div>
    <div class="col col-md-5">
      <div class="card">
        <div class="card-body">
          <p class="text-center">Your password has been reset. Please log in again with your new password.</p>
          <a class="btn btn-lg btn-block btn-primary" href="{% url 'account_login' %}">Log In</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

{% endblock content %}