{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Change Password</h4>
          <div class="text-center">
            <span>Signed in as: <strong>{{ user.email }}</strong></span>
          </div>
          <form action="{% url 'account_change_password' %}" method="POST" class="text-left mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-5 row">
              <div class="col"></div>
              <div class="col-md-8">
                <button class="btn btn-lg btn-block btn-primary" type="submit" name="action">Change Password</button>
                <a class="btn btn-lg btn-block btn-secondary" href="{% url 'account_email' %}">Back to Account Settings</a>

              </div>
              <div class="col"></div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script src="{% static 'js/pad_required.js' %}"></script>
{% endblock content %}