{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <div class="row">
  <div class="col"></div>
    <div class="col col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h4>
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please <a href="{{ passwd_reset_url }}">request a new password reset</a>.</p>
          {% else %}
            {% if form %}
              <form action="{{ action_url }}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-5 row">
                  <div class="col"></div>
                  <div class="col-md-8">
                    <button class="btn btn-lg btn-block btn-primary" type="submit" name="action">Change Password</button>
                  </div>
                  <div class="col"></div>
                </div>
              </form>
              {% else %}
                <p>Your password is now changed.</p>
              {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
{% endblock content %}