{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Verify Email{% endblock title %}

{% block content %}

  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4>Verify Your Email Address</h4>
        <p>An email has been sent to you for verification. Follow the link provided to complete the signup process.</p>
        <p>Please contact us if you do not receive an email within a few minutes.</p>
      </div>
    </div>
  </div>

{% endblock content %}