{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% block css_theme %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% endblock css_theme %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/branding/favicon.png' %}" type="image/png">

  <title>EONS | {% block title %}{% endblock title %}</title>

  {% block extrahead %}{% endblock extrahead %}

</head>
<body class="d-flex flex-column">
  <header class="mb-3">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="media">
          <a href="{% url 'home' %}" class="navbar-brand mr-5">
            <img src="{% static 'images/branding/eons_brand_header_light.png' %}" id="brandLogo" alt="EONS">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Data</a>
        </div>
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle account-link" id="navbarDropdown" role="button" data-toggle="dropdown" href="#">{{ user.email }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:250px">
                  <span class="nav-item ml-2">Signed in as</span>
                  <div><small><strong class="ml-2 yellow">{{ user.email }}</strong></small></div>
                  <div class="dropdown-divider"></div>
                  {% if user.is_staff %}
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin dashboard</a>
                    <div class="dropdown-divider"></div>
                  {% endif %}
                  <a class="nav-link" href="{% url 'account_email' %}">Account settings</a>
                  <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
                </div>
            </li>
          {% else %}
            <a href="{% url 'account_login' %}" class="nav-item nav-link mr-3">Log In</a>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-success nav-item nav-link">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  {% comment %} <canvas id="cnv"></canvas> {% endcomment %}

  <main>
    <div id="mainBlock" class="container-fluid">
      <div class="row justify-content-center text-center">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </main>



  <footer class="footer mt-3">
    <div class="footer-content">
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright: 
        <a href="http://darkskypartners.com/" alt="Dark Sky Partners LLC">Dark Sky Partners LLC</a>
        <div class="text-center">
          <small>All Rights Reserved</small>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="{% static 'js/dots.js' %}"></script>

</body>
</html>