{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% block css_theme %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% endblock css_theme %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/branding/favicon.png' %}" type="image/png">

  <title>EONS | {% block title %}{% endblock title %}</title>

  {% block extrahead %}{% endblock extrahead %}

</head>

<body class="d-flex flex-column">

  {% include 'navbar.html' %}

  <canvas id="cnv"></canvas>

  <main class="mb-3">
    <div id="mainBlock" class="container-fluid">
      <div class="row justify-content-center text-center my-2">
        {% if messages %}
          <div class="col-md-4">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">×</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="row justify-content-center text-center">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </main>

  <footer class="mastfoot footer mt-auto">
    <div class="footer-content">
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright: 
        <a href="http://darkskypartners.com/" alt="Dark Sky Partners LLC">Dark Sky Partners LLC</a>
        <div class="text-center">
          <small>All Rights Reserved</small>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="{% static 'js/dots.js' %}"></script>

</body>
</html>